{% extends "baselayout.html.twig" %}

{% block content %}
    <form action="{{ url('order_item_edit', {'id': orderitem.order.id, 'itemid': orderitem.id }) }}" method="post" {{ form_enctype(orderitemform) }}>
        <h1>{{ "orderitem"|trans() }}</h1>
        {% for key,field in orderitemform %}
            <div class="fieldwrapper">
                {{ form_row(field) }}
            </div>
        {% endfor %}
        <input class="btn btn-success" type="submit" />
        <a class="btn" href="{{ url('order_item_list', {'id': orderitem.order.id}) }}">{{ "back"|trans() }}</a>
    </form>
{% endblock content %}